numpy
torch
pandas
tqdm
pillow
scikit-learn
matplotlib
multiprocess
seaborn
SimpleITK
torch_dct
scipy
transformers
# Install PyRadiomics from GitHub main branch
git+https://github.com/Radiomics/pyradiomics.git@master#egg=pyradiomics